<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<% if user_signed_in? %>
    <p>Вітаємо <%= current_user.email %>!)</p>
    <%= link_to 'Вийти', destroy_user_session_path, :method => :delete %>
<% else %>
    <%= link_to 'Ввійти', new_user_session_path %> или <%= link_to 'Реєстрація', new_user_registration_path %>
<% end %>
